<?xml version="1.0" encoding="utf-16"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <rand />
  <BoardGames>
    <BoardGame>
      <Name>Alhambra</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>45</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Arabian</GameCategory>
        <GameCategory>CityBuilding</GameCategory>
        <GameCategory>Medieval</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>TilePlacement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Carcassonne</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CityBuilding</GameCategory>
        <GameCategory>Medieval</GameCategory>
        <GameCategory>TerritoryBuilding</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>TilePlacement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Cards Against Humanity</Name>
      <MinNumOfPlayers>4</MinNumOfPlayers>
      <MaxNumOfPlayers>30</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Humor</GameCategory>
        <GameCategory>Mature_Adult</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>PrintandPlay</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>SimultaneousActionSelection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Castle Panic</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Medieval</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Campaign_BattleCardDriven</GameMechanism>
        <GameMechanism>Chit_PullSystem</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Catan</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Negotiation</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>Route_NetworkBuilding</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Catan Dice Game</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>Paper_and_Pencil</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Champions of Midgard</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>90</MaxDuration>
      <Types>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Medieval</GameCategory>
        <GameCategory>Mythology</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>WorkerPlacement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>CLUE: Firefly Edition</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>90</MinDuration>
      <MaxDuration>90</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>Bluffing</GameCategory>
        <GameCategory>Murder_Mystery</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Codenames</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>8</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>Spies_SecretAgents</GameCategory>
        <GameCategory>WordGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Memory</GameMechanism>
        <GameMechanism>Partnerships</GameMechanism>
        <GameMechanism>PatternRecognition</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Codenames: Deep Undercover</Name>
      <MinNumOfPlayers>4</MinNumOfPlayers>
      <MaxNumOfPlayers>8</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>Mature_Adult</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>Spies_SecretAgents</GameCategory>
        <GameCategory>WordGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Memory</GameMechanism>
        <GameMechanism>Partnerships</GameMechanism>
        <GameMechanism>PatternRecognition</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Colt Express</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>40</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>AmericanWest</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Trains</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Action_MovementProgramming</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>Memory</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Coup</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Bluffing</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>Political</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Memory</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Dastardly Dirigibles</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>CardGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Dixit</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Humor</GameCategory>
        <GameCategory>PartyGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>SimultaneousActionSelection</GameMechanism>
        <GameMechanism>Storytelling</GameMechanism>
        <GameMechanism>Voting</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Dominion</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Medieval</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>Deck_PoolBuilding</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Dungeons &amp; Dragons: Castle Ravenloft Board Game</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Exploration</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Horror</GameCategory>
        <GameCategory>Miniatures</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>GridMovement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>RolePlaying</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Dungeons &amp; Dragons: The Legend of Drizzt Board Game</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Exploration</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Miniatures</GameCategory>
        <GameCategory>Novel_based</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>GridMovement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>RolePlaying</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Elder Sign</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>8</MaxNumOfPlayers>
      <MinDuration>90</MinDuration>
      <MaxDuration>90</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Horror</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Electronic Battleship Advanced Mission</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>2</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>Electronic</GameCategory>
        <GameCategory>Nautical</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>SecretUnitDeployment</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Exploding Kittens</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Animals</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>ComicBook_Strip</GameCategory>
        <GameCategory>Humor</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Firefly: The Game</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>120</MinDuration>
      <MaxDuration>240</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>SpaceExploration</GameCategory>
        <GameCategory>Travel</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>Pick_upandDeliver</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Five Tribes</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>40</MinDuration>
      <MaxDuration>80</MaxDuration>
      <Types>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Arabian</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Mythology</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>Auction_Bidding</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>VariablePhaseOrder</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Forbidden Desert</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>45</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>ActionPointAllowanceSystem</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>GridMovement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>Pick_upandDeliver</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Forbidden Island</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Fantasy</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>ActionPointAllowanceSystem</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>GridMovement</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>Pick_upandDeliver</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Formula D</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>10</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Racing</GameCategory>
        <GameCategory>Sports</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>GridMovement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
        <GameMechanism>Simulation</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>King of Tokyo</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Love Letter</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>Renaissance</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Love Letter: Batman</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Deduction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Magic: The Gathering</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>2</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Customizable</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>CollectibleComponents</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Mastermind</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>2</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Abstract</GameType>
      </Types>
      <Categories>
        <GameCategory>AbstractStrategy</GameCategory>
        <GameCategory>Deduction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Paper_and_Pencil</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Mice and Mystics</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>120</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Exploration</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Miniatures</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>RolePlaying</GameMechanism>
        <GameMechanism>Storytelling</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Monopoly</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>8</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>180</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Economic</GameCategory>
        <GameCategory>Negotiation</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Auction_Bidding</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>StockHolding</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Monopoly Deal Card Game</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Economic</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Monopoly: Pokémon Kanto Edition</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>ChildrensGame</GameCategory>
        <GameCategory>Economic</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>VideoGameTheme</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Auction_Bidding</GameMechanism>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>StockHolding</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Monopoly: Star Wars</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>Economic</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Munchkin</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Humor</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Pandemic</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>45</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Medical</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>ActionPointAllowanceSystem</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PointtoPointMovement</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Pokémon Master Trainer</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>45</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>ChildrensGame</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>VideoGameTheme</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Roll_SpinandMove</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Pokémon Trading Card Game</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>2</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Customizable</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>CollectibleComponents</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Rise of Augustus</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Ancient</GameCategory>
        <GameCategory>CardGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Risk</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>120</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>War</GameType>
      </Types>
      <Categories>
        <GameCategory>Miniatures</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>TerritoryBuilding</GameCategory>
        <GameCategory>Wargame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>Partnerships</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Risk: Godstorm</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>120</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
        <GameType>War</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Mythology</GameCategory>
        <GameCategory>Wargame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>Campaign_BattleCardDriven</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Risk: Star Wars Edition</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>Wargame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>Campaign_BattleCardDriven</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Sheriff of Nottingham</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Bluffing</GameCategory>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Humor</GameCategory>
        <GameCategory>Medieval</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>Novel_based</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>RolePlaying</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Skip-Bo</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>20</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Small World</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>40</MinDuration>
      <MaxDuration>80</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>TerritoryBuilding</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>AreaMovement</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Smash Up</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>45</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Humor</GameCategory>
        <GameCategory>Pirates</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>Zombies</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>TakeThat</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Star Trek Deck Building Game: The Next Generation – The Next Phase</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>90</MinDuration>
      <MaxDuration>90</MaxDuration>
      <Types>
        <GameType>Customizable</GameType>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Exploration</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>Deck_PoolBuilding</GameMechanism>
        <GameMechanism>Partnerships</GameMechanism>
        <GameMechanism>RolePlaying</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Star Trek Panic</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>6</MaxNumOfPlayers>
      <MinDuration>90</MinDuration>
      <MaxDuration>120</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Star Trek: Catan</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>75</MinDuration>
      <MaxDuration>75</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>ModularBoard</GameMechanism>
        <GameMechanism>Route_NetworkBuilding</GameMechanism>
        <GameMechanism>Trading</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Star Trek: Expeditions</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>4</MaxNumOfPlayers>
      <MinDuration>60</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Adventure</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>SpaceExploration</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Star Trek: Five-Year Mission</Name>
      <MinNumOfPlayers>3</MinNumOfPlayers>
      <MaxNumOfPlayers>7</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>45</MaxDuration>
      <Types>
        <GameType>Family</GameType>
        <GameType>Thematic</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Movies_TV_Radiotheme</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Co_operativePlay</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Stratego (Revised Edition)</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>2</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types />
      <Categories>
        <GameCategory>AbstractStrategy</GameCategory>
        <GameCategory>Bluffing</GameCategory>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>Fantasy</GameCategory>
        <GameCategory>Fighting</GameCategory>
        <GameCategory>Memory</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Memory</GameMechanism>
        <GameMechanism>SecretUnitDeployment</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Sushi Go!</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>CardGame</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
        <GameMechanism>SimultaneousActionSelection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>The Resistance</Name>
      <MinNumOfPlayers>5</MinNumOfPlayers>
      <MaxNumOfPlayers>10</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>30</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Bluffing</GameCategory>
        <GameCategory>Deduction</GameCategory>
        <GameCategory>Negotiation</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>Spies_SecretAgents</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>Partnerships</GameMechanism>
        <GameMechanism>SimultaneousActionSelection</GameMechanism>
        <GameMechanism>Voting</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Ticket to Ride</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Trains</GameCategory>
        <GameCategory>Travel</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>Route_NetworkBuilding</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Ticket to Ride: Europe</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>Trains</GameCategory>
        <GameCategory>Travel</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>CardDrafting</GameMechanism>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>Route_NetworkBuilding</GameMechanism>
        <GameMechanism>SetCollection</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Tiny Epic Galaxies</Name>
      <MinNumOfPlayers>1</MinNumOfPlayers>
      <MaxNumOfPlayers>5</MaxNumOfPlayers>
      <MinDuration>30</MinDuration>
      <MaxDuration>60</MaxDuration>
      <Types>
        <GameType>Strategy</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>ScienceFiction</GameCategory>
        <GameCategory>SpaceExploration</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>AreaControl_AreaInfluence</GameMechanism>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>VariablePlayerPowers</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Tsuro</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>8</MaxNumOfPlayers>
      <MinDuration>15</MinDuration>
      <MaxDuration>15</MaxDuration>
      <Types>
        <GameType>Abstract</GameType>
        <GameType>Family</GameType>
      </Types>
      <Categories>
        <GameCategory>AbstractStrategy</GameCategory>
        <GameCategory>Fantasy</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>HandManagement</GameMechanism>
        <GameMechanism>PlayerElimination</GameMechanism>
        <GameMechanism>Route_NetworkBuilding</GameMechanism>
        <GameMechanism>TilePlacement</GameMechanism>
      </Mechanisms>
    </BoardGame>
    <BoardGame>
      <Name>Zombie Dice</Name>
      <MinNumOfPlayers>2</MinNumOfPlayers>
      <MaxNumOfPlayers>99</MaxNumOfPlayers>
      <MinDuration>10</MinDuration>
      <MaxDuration>20</MaxDuration>
      <Types>
        <GameType>Party</GameType>
      </Types>
      <Categories>
        <GameCategory>Dice</GameCategory>
        <GameCategory>Horror</GameCategory>
        <GameCategory>Humor</GameCategory>
        <GameCategory>PartyGame</GameCategory>
        <GameCategory>Zombies</GameCategory>
      </Categories>
      <Mechanisms>
        <GameMechanism>DiceRolling</GameMechanism>
        <GameMechanism>PressYourLuck</GameMechanism>
      </Mechanisms>
    </BoardGame>
  </BoardGames>
</Settings>